*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}
li{
    list-style: none;
}
button{
    cursor:pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-weight:500;
    text-align: center;
    width:100%;
}

.f-md{
    font-size: 22px;
}

.clr-bl{
    color: black !important;
}

.clr-wh{
    color: white !important;
}

.mb-5{
    margin-bottom: 5px !important;
}

.bg-bl{
    background-color: #2a3439 !important;
}

.bg-gr{
    background-color: #0b7261 !important;
}

.bg-prp{
    background-color: #2e2459 !important;
}
.bg-wh{
    background-color: white !important;
}
.bg-rd{
    background-color: #a72145 !important;
}
.bg-yl{
    background-color: #ffc832 !important;
}
.f-wrap{
    flex-wrap: wrap !important;
}
.bor-prp{
    border-bottom: 10px solid #2e2459;
}

.bor-rd{
    border-bottom: 10px solid #a72145;
}

.bor-yl{
    border-bottom: 10px solid #ffc832;
}
.mb-10{
    margin-bottom: 20px;
}

.f-col{
    display: flex;
    flex-direction: column;
}

.nav-link{
    text-decoration: none;
}

.nav-link > a{
    color:#2a3439;
    background-color: transparent;
    font-size: 18px;
}

.navbar-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    font-size: 24px;
    align-items: center;
}
.nav-header{
    display: flex;
    justify-content: space-around;
    padding:0 10%;
    margin-bottom: 5%;
}
.brand-name{
    font-family: "Alfa Slab One", serif;
    font-size: 6rem;
    margin-bottom: 2px;
    margin-top: 0;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    z-index: 99999999;
}
.description-text{
    font-weight: 300;
    line-height: 1.25;
    font-size: 2.25rem;
    margin-top:3rem;
    margin-bottom:0;
}
.start-btn{
    padding: 19px 45px;
    font-size: 1.75rem;
    margin-top: 20px;
    display:inline-block;
    line-height: 1.6;
    box-sizing: border-box;
}

.start-btn:hover{
    border: 1px solid black;
}

.download-link{
    font-size: 2.25rem;
    text-align: center;
    background-color: transparent;
    color:#4299bf;
}
.btn-download{
    padding-right: 40px;
}

.jumbotron{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    flex-direction: column;
    width: 100%;
    padding:0;
}

.why-rust{
    padding: 5% 15%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap:8%;
    width: 100%;
}
.desc-text{
    font-size: 1rem;
    margin-top: 2rem;
}
.sub-head{
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    display: inline-block;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 800;
}

.build-in-rust{
    padding: 5% 15%;
}
.build-btn{
    padding: 10px 30px;
}
.build-btn:hover{
    border:1px solid white;
}

.rust-in-production{
    padding: 5% 13%;
}

.lrn-btn{
    padding: 15px 20px;
}
.lrn-btn:hover{
    border: 1px solid black;
}
.light{
    opacity:0.3;
}

.get-involved{
    padding: 5% 15%;
}
.btn-more{
    padding: 15px 20px;
}
.btn-more:hover{
    border: 1px solid white;
}
.contribute{
    flex-basis: 100%;
}
.read-rust,.watch-rust{
    flex:1;
}
.thanks{
    padding: 5% 13%;
    color: black;
}

.footer{
    color:white;
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.issue-info{
    flex-basis: 100%;
    text-align: center;
    font-size: 18px;
}
.social, .help, .terms{
    flex: 1;
}

.footer-links{
    color: #ffc832;
    text-decoration: none;
    font-size: 15px;
}
.footer-sub-head{
    font-size: 20px;
}
blockquote{
    border-bottom: 1px dotted black;
}

.main-quote{
    display: flex;
    flex-direction: column;
}
.said-by{
    align-self: flex-end;
}

.npm-quote, .yelp-quote{
    display: flex;
    flex-direction: row;
    padding: 5%;
}
.comp-logo{
    padding: 2%;
}
.img-cont{
   padding: 20%;
}

 @media only screen and (max-width: 810px) {

     .navbar-container{
        flex-direction: column;
         padding: 0;
         margin:0;
         align-items: center;
     }

     .nav-links{
         justify-content: space-around;
         padding: 2% 15%;
         column-gap: 30px;
     }

     .btn-download{
         padding-right: 0;
     }

     .nav-link > a {
         font-size: 15px;
     }
     .nav-header{
         flex-direction: column;
         padding:2%;
         margin-top:15px;
     }
     .download-link{
         font-size: 15px;
     }
     .jumbotron{
         display: flex;
         flex-direction: column;
         padding: 0;
     }
     .container{
         flex-direction: column;
         padding:0;
     }
     .brand-name{
         font-size: 2.25rem;
     }
     .description-text{
         font-size: 1.25rem;
         line-height: unset;
     }
     .footer{
         flex-direction: column;
     }
     .rust-in-production{
         font-size: 20px;
     }
     .issue-info{
         font-size: 16px;
     }
     .prod-desc-text{
         font-size:16px;
     }
     .main-quote{
         display: flex;
         flex-direction: column;
     }
     .npm-quote, .yelp-quote{
         display: flex;
         flex-direction: column;
         padding: 5%;
     }
     .said-by{
         justify-self: right;
     }
     .build-with-rust{
         display: flex;
         flex-direction: row;
     }
     .build{
         display: flex;
         flex-direction: column;
     }
     .img-cont{
         padding: 2%;
     }

}

@media only screen and (max-width: 1199px) and (min-width: 811px){
    .nav-link > a {
        font-size: 15px;
    }
    .jumbotron{
        display: flex;
        flex-direction: column;
    }
    .why-rust, .nav-header{
        padding:1%;
    }
}

@media only screen and (max-width: 500px){
    .issue-info{
        font-size: 16px;
    }
    .prod-desc-text{
        font-size:16px;
    }
    .main-quote{
        display: flex;
        flex-direction: column;
    }
    .npm-quote, .yelp-quote{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .said-by{
        justify-self: right;
    }
    .why-rust, .build-in-rust, .thanks, .quote-container, .footer, .get-involved{
        padding:4% 3% 4% 3%;
    }
    .comp-logo{
        padding:1px;
    }
    .build-btn{
        margin-bottom: 4%;
    }
    .build-with-rust{
        display: flex;
        flex-direction: row;
    }
    .build{
        display: flex;
        flex-direction: column;
    }
    .build-img{
        height: 40px;
        width: 40px;
    }
    .img-cont{
        padding: 2%;
    }
}